<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <appSettings>
    </appSettings>

    <nlog>
        <appenders>
            <appender name="logfile" type="File" fileName="SoodaQuery.log" />
        </appenders>

        <rules>
            <logger name="*" appendTo="logfile" />
        </rules>
    </nlog>
</configuration>
