<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <appSettings>
		<add key="sooda.logging" value="nlog" />
    </appSettings>
    
    <runtime>
        <gcConcurrent enabled="false" />
    </runtime>

    <nlog>
        <appenders>
            <appender name="console" type="Console" />
        </appenders>

        <rules>
            <logger name="Sooda.*" appendTo="console" />
        </rules>
    </nlog>
</configuration>
