<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    </configSections>

    <appSettings>
        <add key="sooda.config" value="xmlconfig" />
    </appSettings>

    <nlog internalLogToConsole="true">
        <appenders>
            <appender name="console" type="Console" />
        </appenders>

        <rules>
            <logger name="*" appendTo="console" />
        </rules>
    </nlog>
</configuration>
