body
{
	margin: 5px;
	background-color: white;
	border-bottom: 1px solid black;
}

td.titledesc
{
    font-family: Verdana;
	font-size: 70%;
    vertical-align: bottom;
    padding-bottom: 10px;
    padding-right: 10px;
}

img.thinborder
{
    border: 1px solid black;
}
